/* Custom CSS Reset from: https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
/*img, */
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  10. Reset padding
*/

menu,
ol,
ul {
  padding: 0;
}

/* End custom CSS Reset */

/* CSS Variables */

:root {
  --supermodel_pink: #f060a0;
}

/* End CSS Variables */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  padding-top: 16px;
  padding-bottom: 16px;
}

h2 {
  color: var(--supermodel_pink);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}

.navbar {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px;
}

.navbar,
.footer {
  background-color: var(--supermodel_pink);
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  min-height: 3rem;
}

.footer div small {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar div ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar div ul li {
  flex: 1;
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar div ul li a {
  text-decoration: none;
  color: white;
}

.navbar div ul li a:hover {
  filter: opacity(70%);
}

@media screen and (min-width: 768px) {
  .navbar div ul {
    flex-direction: row;
  }
}
